* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, input, select {
  outline: none;
}

.container {
  background-color: #f7f7f1;
  min-height: 100vh;
}

.top-wrapper {
  height: 70px;
  background-color: #4fcae9;
}

.top-main {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
  font-size: 30px;
  line-height: 70px;
  user-select: none;
}

.main-wrapper {
  max-width: 850px;
  margin: 20px auto 50px;
  padding: 15px;
  overflow: hidden;
}

.search {
  line-height: 30px;
}

.search, .show {
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.15);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.15);
  border-radius: 5px;
  overflow: hidden;
}

.search label {
  vertical-align: middle;
}

.search-input {
  width: 500px;
  height: 32px;
  padding: 0 5px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #747474;
  transition: .3s;
}

.search-input:focus {
  border-color: #0eaed6;
}

.search-btn {
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  border: 1px solid;
  cursor: pointer;
}

.search-btn.blue {
  background-color: #40cff3;
  border-color: #40cff3;
}

.search-btn.blue:hover {
  background-color: #19c2ec;
  border-color: #19c2ec;
}

.search-btn.blue:active {
  background-color: #0ea3c9;
  border-color: #0ea3c9;
}

.search-btn.yellow {
  background-color: #f9d02d;
  border-color: #f9d02d;
}

.search-btn.yellow:hover {
  background-color: #dfb91f;
  border-color: #dfb91f;
}

.search-btn.yellow:active {
  background-color: #c2a015;
  border-color: #c2a015;
}

.search-btn.red {
  background-color: #f53939;
  border-color: #f53939;
}

.search-btn.red:hover {
  background-color: #d71e1e;
  border-color: #d71e1e;
}

.search-btn.red:active {
  background-color: #b31111;
  border-color: #b31111;
}

.show {
  min-height: 100px;
  margin-top: 20px;
  line-height: 30px;
}

.tip {
  text-align: center;
  line-height: 80px;
  color: gray;
  user-select: none;
}

.show ul {
  list-style-type: none;
  color: #575757;
}

.show ul li {
  background-color: #f8eded;
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  word-break: break-all;
  cursor: pointer;
}

.show ul li:hover {
  background-color: #f5d8d8;
}

.show ul li.change div{
  display: block;
  height: auto;
}

.show ul li div {
  height: 0;
  display: none;
  border-top: 1px solid black;
  padding-top: 5px;
  white-space: pre-wrap;
  overflow: hidden;
  transition: .3s;
}

.show ul li div i {
  display: inline-block;
  padding: 0 3px;
  background-color: #e08eda;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-style: normal;
}

.num {
  font-size: 13px;
  vertical-align: sub;
}

.more-search {
  margin-top: 10px;
}

.more-search-area div {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
}

.more-search-area input {
  width: 200px;
  height: 32px;
  padding: 0 5px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #747474;
  transition: .3s;
}

.more-search-area select {
  width: 50px;
  height: 32px;
  padding: 0 5px;
  margin: 0 10px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #747474;
  transition: .3s;
}

