* {
  padding: 0;
  margin: 0;
}

button, input {
  outline: none;
}

.container {
  background-color: #f7f7f1;
  min-height: 100vh;
}

.top-wrapper {
  height: 70px;
  background-color: #4fcae9;
}

.top-main {
  max-width: 820px;
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
  line-height: 70px;
  user-select: none;
}

.main-wrapper {
  max-width: 820px;
  margin: 20px auto 50px;
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.15);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.15);
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  min-height: 300px;
}

.search {
  line-height: 30px;
}

.search label {
  vertical-align: middle;
}

.search-input {
  width: 500px;
  height: 32px;
  padding: 0 5px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #747474;
  transition: .3s;
}

.search-input:focus {
  border-color: #0eaed6;
}

.search-btn {
  width: 55px;
  height: 32px;
  border-radius: 5px;
  background-color: #40cff3;
  border: 1px solid #40cff3;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #19c2ec;
  border: 1px solid #19c2ec;
}

/* .search-btn:focus {
  background-color: #244a53;
  border: 1px solid #19363d;
} */

.search-btn:active {
  background-color: #0ea3c9;
  border: 1px solid #0ea3c9;
}

.show {
  margin-top: 20px;
  line-height: 30px;
}

.show ul {
  list-style-type: none;
  color: #575757;
}

.show ul li {
  background-color: #f8eded;
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  word-break: break-all;
  cursor: pointer;
}

.show ul li:hover {
  background-color: #f5d8d8;
}

.show ul li.change div{
  display: block;
  height: auto;
}

.show ul li div {
  height: 0;
  display: none;
  border-top: 1px solid black;
  padding-top: 5px;
  white-space: pre-wrap;
  overflow: hidden;
  transition: .3s;
}

.show ul li div i {
  display: inline-block;
  padding: 0 3px;
  background-color: #e08eda;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-style: normal;
}

.num {
  font-size: 13px;
  vertical-align: sub;
}

